/*
    EECS1012 Section A Lab 03 - Term Project
    Team Name: Code Stars
    Team Members: Avaninder Bath, Justin Blasetti
    Project Title: Tic-Tac-York

    CSS - Mark Customization Page
*/

body {
    color: white;
    background-color: rgb(50, 50, 50);
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

#header {
    background-color: rgb(200, 0, 0);
    height: fit-content;
}

h1 {
    font-size: 50px;
    margin: 0;
    padding-top: 5px;
}

h2 {
    display: inline-block;
    background-color: black;
    width: 15em;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 30px;
}

#content {
    margin-top: 0;
    margin-bottom: 50px;
}

#lists {
    display: inline-block;
    color: black;
    margin: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#selections {
    display: inline-block;
    background-color: lightgrey;
    height: 200px;
    width: 210px;
    margin: 0;
    overflow: auto;
}

h3 {
    color: white;
    background-color: black;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

table {
    display: block;
}

td {
    width: 100vw;
    padding: 10px;
    border: 3px solid black;
}

td:hover {
    background-color: grey;
}

#p1Mark {
    display: inline;
    background-color: black;
    font-size: 20px;
    padding-right: 40px;
    padding-left: 40px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#p2Mark {
    display: inline;
    background-color: black;
    font-size: 20px;
    padding-right: 40px;
    padding-left: 40px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#chosen {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    overflow: hidden;
}

img {
    background-color: white;
    height: 140px;
    width: 140px;
    margin-right: 50px;
    margin-left: 50px;
    padding: 10px;
    border-radius: 10px;
}

#versus {
    font-size: 40px;
    font-weight: bold;
    margin-top: 75px;
}

button {
    color: white;
    background-color: rgb(200, 0, 0);
    width: 235px;
    font-size: 20px;
    margin: 5px;
    padding: 20px;
    border: 3px solid black;
    border-radius: 15px;
}

button:hover {
    color: black;
    background-color: lightgrey;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: black;
    width: 100%;
    font-size: 12px;
    padding: 3px;
    text-align: left;
}
