/*
    EECS1012 Section A Lab 03 - Term Project
    Team Name: Code Stars
    Team Members: Avaninder Bath, Justin Blasetti
    Project Title: Tic-Tac-York

    CSS - Game Board Page (Player VS Computer & Player VS Player)
*/

body {
    color: white;
    background-color: rgb(50, 50, 50);
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

#header {
    background-color: rgb(200, 0, 0);
    height: fit-content;
}

h1 {
    font-size: 50px;
    margin: 0;
    padding-top: 5px;
}

h2 {
    display: inline-block;
    background-color: black;
    width: 15em;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 30px;
}

#content {
    margin-bottom: 30px;
}

#openArea {
    display: inline-block;
    background-color: black;
    margin-top: 20px;
    border: 3px solid rgb(200, 0, 0);
}

#gameBoard {
    display: block;
    margin-top: -20px;
}

img {
    display: inline-block;
    height: 100px;
    width: 100px;
}

#buttons {
    display: inline-block;
    margin-bottom: 20px;
}

button {
    display: inline-block;
    color: white;
    background-color: rgb(200, 0, 0);
    width: 225px;
    font-size: 20px;
    margin-bottom: 0px;
    padding: 15px;
    border: 3px solid black;
    border-radius: 15px;
}

button:hover {
    color: black;
    background-color: lightgrey;
}

#prompts {
    display: block;
}

#turn {
    display: block;
    font-size: 20px;
    width: auto;
}

#closed {
    display: block;
    background-color: grey;
    padding: 5px;
    border: 5px solid black;
}

#timeContainer {
    display: inline-block;
    background-color: black;
    width: 200px;
    border-radius: 30px;
}

#p1Name {
    font-size: 30px;
    margin-bottom: 10px;
}

#img1 {
    background-color: lightgrey;
    height: 100px;
    width: 100px;
    padding: 5px;
    border: 5px solid black;
}

#versus {
    font-size: 50px;
    font-weight: bold;
}

#p2Name {
    font-size: 30px;
    margin-bottom: 10px;
}

#img2 {
    background-color: lightgrey;
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
    padding: 5px;
    border: 5px solid black;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: black;
    width: 100%;
    font-size: 12px;
    padding: 3px;
    text-align: center;
}
